<h1>Fina and Replace</h1>
<form action="/output">
  <div class="form-group">
     <label for="replace">Please type anything here.
     </label>
     <input id="replace" name="replace" class="form-control" type="text">
  </div>

  
  <button type="submit" class="btn-success">Send</button>
</form>
